{% extends "master.html" %}
{% block title %}Servicios{% endblock %}
{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th width="35%">Titulo</th>
                <th>Contenido</th>
                <th>imagen</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
            {% for servicio in servicios  %}
                <tr>
                    <td>{{ servicio.titulo }}</td>
                    <td>{{ servicio.contenido }}</td>
                    <td>{{ servicio.imagen }}</td>
                    <td>
                        <img src="{{servicio.imagen.url}}"
                             alt="{{ servicio.titulo }}"
                             class="img-fluid"
                             width="7%">
                    </td>
                    <td>{{ servicio.created }}</td>
                    <td>{{ servicio.update }}</td>
                    <td>
                        <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->
                        <form method="POST" action="eliminar/{{ servicio.titulo }}">
                            {% csrf_token %}
                            <div class="btn-group">
                                <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                                <a href="detalle/{{ servicio.titulo }}"
                                   title="Ver"
                                   type="button"
                                   class="btn btn-success">Ver</a>
                                <a href="editar/{{ servicio.titulo }}"
                                   title="Editar"
                                   type="button"
                                   class="btn btn-primary">Editar</a>
                                <button class="btn btn-danger" onclick="return eliminar();" type="submit">Eliminar</button>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<div align="left" class="btn_crear mb-3">
    <a href="crear" type="button" class="btn btn-primary">Crear</a>
  </div>
  
{% endblock %}
