<!DOCTYPE html>
<html lang="en">
  <head>
    {% load bootstrap5 %}
    {% load bootstrap_icons %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load widget_tweaks %}
    {% load static %}
    {% load humanize %}
    <meta charset="utf-8" />
    <meta name="keywords" content="foo,bar" />
    <meta name="description" content="foo" />
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'ProyectoWebApp/css/style.css' %}" />
  </head>
  <body>
    <!--
      Definicion de variables para URL
-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-lg-4"
         id="mainnav">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% url 'Home' as url %}
          <li class="nav-item {% if request.path == url %}active{% endif %} px-lg-4 ">
            <button type="button" class="btn btn-outline-primary nav-item">
              <a class="nav-link text-expanded" href="{{ url }}">INICIO</a>
            </button>
          </li>
          {% url 'leerservicio' as url %}
          <li class="nav-item px-lg-4 {% if request.path == url %}active{% endif %}">
            <button type="button" class="btn btn-outline-primary ">
              <a class="nav-link text-expanded" href="{{ url }}">SERVICIOS</a>
            </button>
          </li>
          <li class="nav-item px-lg-4 {% if request.path == url %}active{% endif %}">
            <div class="btn-group dropend">
              {% url 'tiendaleer' as url %}
              <button type="button" class="btn btn-outline-primary">
                <a class="nav-link text-expanded" href="{{ url }}">TIENDA</a>
              </button>
              <button type="button"
                      class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">
                <span class="visually-hidden">Toggle Dropright</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark"
                  aria-labelledby="navbarDarkDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="{% url 'categoriaproductoleer' %}">Categoria producto</a>
                </li>
                
                <li>
                  <a class="dropdown-item" href="{% url 'productoleer' %}">Producto</a>
                </li>
              </ul>
            </div>
          </li>
          {% url 'crearContacto' as url %}
          <li class="nav-item px-lg-4 {% if request.path == url %}active{% endif %}">
            <div class="btn-group dropend">
              <button type="button" class="btn btn-outline-primary">
                <a class="nav-link text-expanded" href="{{ url }}">CONTACTO</a>
              </button>
              <button type="button"
                      class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">
                <span class="visually-hidden">Toggle Dropright</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark"
                  aria-labelledby="navbarDarkDropdownMenuLink">
                {% url 'leerContacto' as url %}
                <li>
                  <a class="dropdown-item" href="{{ url }}">List</a>
                </li>
              </ul>
            </div>
          </li>
          {% url 'sblog' as url %}
          <li class="nav-item px-lg-4 {% if request.path == url %}active{% endif %}">
            <div class="btn-group dropend">
              <button type="button"
                      class="btn btn-outline-primary nav-item px-lg-4 {% if request.path == url %}active{% endif %}">
                <a class="nav-link text-expanded" href="{{ url }}">BLOG</a>
              </button>
              <button type="button"
                      class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">
                <span class="visually-hidden">Toggle Dropright</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark"
                  aria-labelledby="navbarDarkDropdownMenuLink">
                {% url 'categorialeer' as url %}
                <li>
                  <a class="dropdown-item" href="{{ url }}">Catalogo</a>
                </li>
                {% url 'postleer' as url %}
                <li>
                  <a class="dropdown-item" href="{{ url }}">Post</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %}{% endblock %}
  </body>
  <!-- Remove the container if you want to extend the Footer to full width. -->
  <div class="container">
    <section>
      <!-- Footer -->
      <footer class="background-color-custom2 text-center text-white">
        {% include "footer.html" %}
      </footer>
      <!-- Footer -->
    </section>
  </div>
  <!-- End of .container -->
</html>
