{% extends "master.html" %}
{% load widget_tweaks %}
{% block title %}Servicios-Crear{% endblock %}
{% block content %}
  <section class="h-100 h-custom background-color-custom1">
    <br/>
    <div class="d-flex align-items-center justify-content-center">
      <div class="card shadow p-4 border-top border-bottom border-3 border-color-custom1">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p class="lead fw-bold mb-5 color-custom1">Categorias</p>
          <div class="form-group">
            <label for="titulo" class="txt_negrita">Nombre</label>
            {{ form.nombre|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
          </div>
          <button type="submit" class="btn btn-primary">Aceptar</button>
          <a href="./" type="submit" class="btn btn-primary">Cancelar</a>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
