{% extends "master.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load humanize %} 
{% block title %}Tienda{% endblock %}
{% block content %}
    <script type="text/javascript">
        function eliminar() {
            var x = confirm("Eliminar Item?");
            if (x)
            return true;
            else
            return false;
        }
    </script>
    <div class="container">
        <div>
            {% if messages %}
                <ul class="messages list-group mb-3">
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Productos</h2>
                </div>
            </div>
            <div class="container">
                <div class="float_items">
                   
                    {% include "carro/widget.html" %}
                </div>
            </div>
            <div class="row">
                {% csrf_token %}
                {% for producto in object_list %}
                    <div class="col-lg-3 mb-3 d-flex align-items-stretch ">
                        <div class="card-tienda">
                            <div class="embed-responsive embed-responsive-16by9">
                                {% if producto.imagen %}
                                    <img src="{{ producto.imagen.url }}"
                                         alt="{{ producto.nombre }}"
                                         class="card-img-top card-image-tienda"
                                         width="100%"
                                         height="70%" />
                                {% endif %}
                            </div>
                            <div class="card-content-tienda">
                                <div class="card-title-tienda">{{ producto.categorias }}</div>
                                <p class="card-text-tienda">{{ producto.nombre }}</p>
                                <p class="card-text-tienda">Q{{ producto.precio|stringformat:".2f" |intcomma }}</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{% url 'carro:agregarproducto' producto.id %}" class="btn btn-success">Agregar al carro</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" title="Primero" type="button" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-chevron-bar-left"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z" />
                        </svg>
                    </a>
                    <a href="?page={{ page_obj.previous_page_number }}"
                       title="Previo"
                       type="button"
                       class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-chevron-left"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </a>
                {% endif %}
                <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"
                       title="Siguiente"
                       type="button"
                       class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-chevron-right"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"
                       title="ultimo"
                       type="button"
                       class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-chevron-bar-right"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
