{% extends "master.html" %}
{% block title %}Home WebApp{% endblock %}
{% block content %}
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="shadow p-4">
      {% if messages %}
        <ul class="messages list-group mb-3">
          {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <h1>¡Bienvenido a mi página de inicio!</h1>
      <section>
        <h2>Contenido Principal</h2>
        <p>¡Aquí puedes agregar el contenido principal de tu página de inicio!</p>
      </section>
    </div>
  </div>
{% endblock %}
