.cell-color {
  color: rgb(238, 234, 234);
  background-color: rgb(110, 110, 165);
  font-size: 18px;
  align-items: center;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.horizontal-timeline .items {
  border-top: 2px solid #ddd;
}

.horizontal-timeline .items .items-list {
  position: relative;
  margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #ddd;
  top: 0;
  margin-top: -5px;
}

.horizontal-timeline .items .items-list {
  padding-top: 15px;
}

.background-color-custom1 {
  background-color: #eee;
}

.background-color-custom2 {
  background-color: #39393b !important;
}
.border-color-custom1 {
  border-color: #f37a27 !important;
}

.color-custom1 {
  color: #f37a27 !important;
}

.scrollbar-checklist{
  overflow-y: auto !important;
  max-height:100px !important;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.p_custom {
  font-size: 9px;
}

.change_cursor {
  cursor: pointer;
}